nav, button{
	font-size: 1.1em !important;
}

.navbar-brand{
	font-size: 1.5em !important;
}

header{
	background-image: url(fond/sport.jpg);
	background-size: cover; /* le background couvre toute la page*/

}

.boxes{
	margin-top: 100px;
}

.boxes > div{
	background: rgba(255, 255, 255, 0.9);
}

img{
	width: 100%;
}

.contact{
	background-image: url(fond/background.jpg);
	background-size: cover;

}

footer{
	background: rgba(0,0,0, .9);
}